<p style="color: green"><%= notice %></p>

<h1>Pets</h1>

<div id="pets">
  <div class="card-group">
    <% @pets.each do |pet| %>
      <%= link_to pet do %>
        <%= render pet %>
      <% end %>
    <% end %>
  </div>
</div>

<%= link_to "New pet", new_pet_path %>
